

.blue{
    color: #0000FF;
}

h1{
    color: rgb(30, 192, 30);
}

.box{
    height: 100px;
    width: 20em;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;

}

#vaishs-h1 {
    
    background-color: rgba(255, 255, 0, 0.726);
    color: green;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: 150px ;
    height: 100px;
    position: fixed;
    top:0;
    left:0;
    border: groove;
    border-color: #0000FF;
    font-size: large;
    
}

.fancy-border{
     border: 5px dashed red;
     background-color: rgb(173, 248, 248);
}



#outline1{
    
    outline-style: groove;
    outline-color: purple;
    outline-width: 10px;
    outline-offset: 5px;
    border: 10px solid yellow;
    text-align: justify;
    text-align-last: center;  
    text-decoration-color: blue;
    text-decoration-line: underline ;
    text-decoration-style: wavy;
    text-transform: capitalize;
    text-indent: 50px;
    letter-spacing: 2px;
    letter-spacing: -2px;
    word-spacing: 10px;
    white-space: wrap;
    text-shadow: 2px 2px 4px red;
    font-weight: normal;
    font-family: Tangerine,serif;
}


a:link, a:visited{
    background-color: white;
    color: green;
    border:2px solid green;
    text-align: center;
    padding: 10px;


}
a:hover{
    background-color:rgb(29, 248, 29) ;
    color:white ;
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}


ol.a{
    list-style-type: lower-roman;
}
ul.a{
    list-style-image: url("83_43676_9be83a54-6291-46c6-aafd-b7bf0c4f8b50.svg");
    
}

ul li{
    background-color: violet;
    margin: 5px;
    padding: 3px;
    text-align: left;
    color: purple;

}

ul>li:hover{
    background-color: yellow;
    font-size: 40px;
}

.divi{

    width: 350px;
    color: rgb(233, 215, 218);
    padding-left: 30px;
    margin: 40px;
    border: 10px double rgb(78, 21, 131);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline-style: dashed;
    outline-width: 8px;
    outline-color: aqua; 
}

.flex-cointainer{
    background-color: mediumseagreen;
    padding: 20px;
    margin: 10px;
    border: 10px solid yellowgreen;
    border-radius: 50px;
    height: 100vh;

    display: flex; /* important+*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    justify-content: center;
}

.flex-item1{
    color: rgb(139, pink, 60);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 249, 17);
    padding: 20px;
    border: 10px solid salmon;
    border-color: pink;
    border-radius: 10px;
    height: 30vh;
    width: 30vh;

}
.flex-item2{
    color: rgb(139, pink, 60);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 249, 17);
    padding: 20px;
    border: 10px solid salmon;
    border-color: pink;
    border-radius: 10px;
    height: 5vh;
    width: 30vh;
}
.flex-item3{
    color: rgb(139, pink, 60);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 249, 17);
    padding: 20px;
    border: 10px solid salmon;
    border-color: pink;
    border-radius: 10px;
    height: 18vh;
    width: 30vh;
}
.flex-item4{
    color: rgb(139, pink, 60);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 249, 17);
    padding: 20px;
    border: 10px solid salmon;
    border-color: pink;
    border-radius: 10px;
    height: 30vh;
    width: 30vh;
}

@keyframes change-color {
    from{background-color: salmon;}
    to{background-color: lightblue;}
}
 
.box-animation {
    width: 200px;
    height: 200px;
    background-color: salmon; /* Initial background color */
    animation-name: change-color;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes changeColor{
    0%{background-color: violet;left :50px;}
    15%{background-color: indigo; left :150px; }
    30%{background-color:blue; left: 300px;}
    45%{background-color: green; left: 450px; }
    60%{background-color: yellow; left: 600px;}
    75%{background-color: orange; left: 750px;}
    100%{background-color: red;left: 1000px;}
}

.changeColor{
    position: relative;
    animation-name: changeColor;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;  
    animation-iteration-count: 2s;
}


